<ng-container *ngIf="design_version=='v1'">
  <div class="w-full py-4 px-4">
    <div>
      <h2>La société</h2>
      <p class="text-justify">{{data.descr}}</p>
    </div>
  </div>

  <div class="w-full h-full">
    <google-map [options]="options" height="500px"
                width="100%">
      <map-marker [position]="options.center"></map-marker>
    </google-map>
  </div>
</ng-container>

<ng-container *ngIf="design_version=='v2'">
  <div class="flex-1 rounded-container overflow-hidden">
    <google-map [options]="options" height="100%"
                width="100%">
      <map-marker [position]="options.center"></map-marker>
    </google-map>
  </div>
</ng-container>
