.mat-button-base {
  @apply rounded-button #{!important};
  @apply py-1 #{!important};
  @apply px-4 #{!important};
  transition: .3s all;
  min-height: 48px;

  .mat-button-wrapper {
    line-height: 48px;
  }

  .mat-button-focus-overlay {
    background-color: rgb(148, 163, 184, .2) !important;
    transition: .3s all;
  }

  &:not(.mat-icon-button) {
    .mat-icon {
      font-size: 20px;
      height: 20px;
      width: 20px;
    }
  }

  /*
  * Variations
   */
  &.mat-flat-button {

  }

  &.mat-stroked-button {
    @apply border-gray-500;
  }

  &.mat-raised-button {
    @apply shadow;
  }

  &.mat-button-disabled {
    color: #00000042;
    background: #0000;
  }

  &.mat-button-mini {
    min-width: 0 !important;
    line-height: 1 !important;
    min-height: 0 !important;
    padding: 0 !important;
  }

  &.mat-button-width {
    min-width: 150px !important;
  }

  &.mat-button-border {
    border: 1px solid;
    @apply border-gray-800;

    &--white {
      @apply border-white;
    }
  }

  &.mat-button-text {
    &--white {
      @apply text-white;
    }
  }

  &.mat-icon-button {
    padding: 0 !important;
  }

  &:not([color]):not(.mat-button-disabled) {
    &:hover {
      .mat-button-focus-overlay {
        opacity: 1 !important;
      }
    }
  }

  &[color="default"] {
    @apply text-black bg-default hover:bg-gray-200 disabled:bg-gray-100;
  }

  &[color="primary"] {
    @apply text-white bg-blue-500 hover:bg-blue-700 disabled:bg-blue-200;
  }

  &[color="gray"] {
    @apply text-white bg-gray-800 hover:bg-gray-900 disabled:bg-gray-200;
  }
}
