.mat-button,
.mat-fab,
.mat-flat-button,
.mat-icon-button,
.mat-mini-fab,
.mat-raised-button,
.mat-stroked-button {
  display: inline-flex !important;
  align-items: center;
  justify-content: center;
  height: 40px;
  min-height: 40px;
  max-height: 40px;
  line-height: 1 !important;

  .mat-button-wrapper {
    position: relative;
    display: inline-flex !important;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 2;
  }

  .mat-button-focus-overlay,
  .mat-button-ripple {
    z-index: 1;
  }

  /* Large button */
  &.mat-button-large {
    height: 48px;
    min-height: 48px;
    max-height: 48px;
  }

  &.mat-button-disabled {
    .mat-icon {
      opacity: 0.38 !important;
    }
  }

  &.mat-button-bordered {
    @apply border border-gray-500 border-solid
  }
}

.mat-fab {
  max-height: 56px;
}

.mat-button,
.mat-flat-button,
.mat-raised-button,
.mat-stroked-button {
  padding: 0 20px !important;
  border-radius: 9999px !important;
}

.mat-flat-button,
.mat-raised-button,
.mat-fab,
.mat-mini-fab {
  .mat-icon {
    color: currentColor !important;
  }

  .mat-button-focus-overlay {
    @apply bg-gray-400 bg-opacity-20;
  }

  &.mat-primary,
  &.mat-accent,
  &.mat-warn {
    .mat-button-focus-overlay {
      background-color: rgba(0, 0, 0, 0.1) !important;
    }
  }

  &:hover {
    .mat-button-focus-overlay {
      opacity: 1 !important;
    }
  }

  &.mat-button-disabled {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

.mat-button,
.mat-icon-button,
.mat-stroked-button {
  &.mat-primary:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-primary #{'!important'};
    }
  }

  &.mat-accent:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-accent #{'!important'};
    }
  }

  &.mat-warn:not(.mat-button-disabled) {
    .mat-icon {
      @apply text-warn #{'!important'};
    }
  }

  .mat-button-focus-overlay {
    @apply bg-gray-400 bg-opacity-20;
  }

  &.mat-primary:not(.mat-button-disabled) {
    .mat-button-focus-overlay {
      @apply bg-primary #{'!important'};
    }
  }

  &.mat-accent:not(.mat-button-disabled) {
    .mat-button-focus-overlay {
      @apply bg-accent #{'!important'};
    }
  }

  &.mat-warn:not(.mat-button-disabled) {

    .mat-button-focus-overlay {
      @apply bg-warn #{'!important'};
    }
  }

  &.mat-primary:not(.mat-button-disabled),
  &.mat-accent:not(.mat-button-disabled),
  &.mat-warn:not(.mat-button-disabled) {
    &:hover {
      .mat-button-focus-overlay {
        opacity: 0.1 !important;
      }
    }
  }

  &:hover {
    .mat-button-focus-overlay {
      opacity: 1 !important;
    }
  }

  &.mat-button-disabled {
    .mat-button-focus-overlay {
      opacity: 0 !important;
    }
  }
}

.mat-stroked-button {
  &:not(.mat-button-disabled) {
    @apply border-gray-300 #{'!important'};
  }

  &.mat-button-disabled {
    @apply border-gray-200 #{'!important'};
  }
}

/**
* Fullcalendar buttons
 */
full-calendar {
  .fc-toolbar {
    .fc-button {
      display: inline-flex !important;
      align-items: center;
      justify-content: center;
      height: 40px;
      min-height: 40px;
      max-height: 40px;
      line-height: 1 !important;
      padding: 0 20px !important;
      border-radius: 9999px !important;
    }

    .fc-button-group {
      .fc-button {
        &:not(&:first-child) {
          @apply rounded-l-none #{'!important'};
        }

        &:not(&:last-child) {
          @apply rounded-r-none #{'!important'};
        }
      }
    }
  }
}
