<!--<div class="flex flex-col flex-auto min-w-0">-->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <page-header [withActions]="true">
    <ng-container headerTitle>
      Configurer votre société
    </ng-container>
    <ng-container headerSubtitle>
      <div class="leading-6 truncate text-secondary">Gestion des catégories de société pour les utilisateurs qui
        s'inscrivent.
      </div>
    </ng-container>
    <ng-container headerRight>
    </ng-container>
  </page-header>

  <div class="bg-transparent flex-1 flex flex-col justify-between overflow-auto bg-white w-full shadow-xl">
    <mat-tab-group class="group-rounded">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>location_city</mat-icon>
          <span class="ml-3">Infos Structure</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="app-content pb-8">
            <div class="bg-white rounded-container shadow p-4">
              <structure-infos></structure-infos>
            </div>
          </div>
        </ng-template>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon>vpn_key</mat-icon>
          <span class="ml-3">Droits d'Accès</span>
        </ng-template>
        <ng-template matTabContent>
          <div class="app-content pb-8">
            <div class="bg-white rounded-container shadow p-4" style="height: 800px;">
              b
            </div>
          </div>
        </ng-template>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
