<!--<div class="flex flex-col flex-auto min-w-0">-->
<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <page-header [withActions]="true">
    <ng-container headerTitle>
      Configurer votre société
    </ng-container>
    <ng-container headerSubtitle>
      <div class="leading-6 truncate text-secondary">Gestion des catégories de société pour les utilisateurs qui
        s'inscrivent.
      </div>
    </ng-container>
    <ng-container headerRight>
      <button color="primary" mat-raised-button>
        <mat-icon>save</mat-icon>
        <span class="ml-2">Enregistrer</span>
      </button>
    </ng-container>
  </page-header>

  <div class="bg-transparent overflow-auto py-8 flex-1 flex flex-col justify-between">
    <div class="app-content">
      <div [formGroup]="societeForm" class="flex flex-row flex-wrap bg-white rounded-container p-4">
        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Login société (partie de l'URL, ne peut être modifié)</mat-label>
          <input formControlName="permalink" matInput
                 placeholder="Login société (partie de l'URL, ne peut être modifié)"/>
          <mat-error *ngIf="societeForm.get('permalink').hasError('required')">
            Oups, vous avez oublié de remplir votre login
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Titre de votre page de réservation (nom de l'entreprise, par exemple)</mat-label>
          <input formControlName="nom" matInput
                 placeholder="Titre de votre page de réservation (nom de l'entreprise, par exemple)"/>
          <mat-error *ngIf="societeForm.get('nom').hasError('required')">
            Veuillez entrer le nom de votre entreprise.
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Autocomplete</mat-label>
          <input #placesRef="ngx-places" (onAddressChange)="handleAddressChange($event)" [options]='options'
                 formControlName="autocomplete" matInput ngx-google-places-autocomplete
                 placeholder="Saisissez l'adresse de votre société."/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Ligne 1 Adresse</mat-label>
          <input formControlName="adresse" matInput placeholder="Ligne 1 Adresse"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Ligne 2 Adresse</mat-label>
          <input formControlName="adresse_complement" matInput placeholder="Ligne 2 Adresse"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full lg:w-1/3 pr-2">
          <mat-label>Code Postal</mat-label>
          <input formControlName="code_postal" matInput placeholder="Code Postal"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full lg:w-2/3 outline-offset-1 pl-2">
          <mat-label>Ville</mat-label>
          <input formControlName="ville" matInput placeholder="Ville"/>
        </mat-form-field>

        <mat-form-field appearance="fill" class="w-full">
          <mat-label>Description de vos activités</mat-label>
          <textarea formControlName="descr" matInput></textarea>
        </mat-form-field>
      </div>
    </div>
  </div>
</div>
