<div class="flex flex-col sm:flex-row items-center md:items-start sm:justify-center md:justify-start flex-auto min-w-0">
  <div
    class="bg-white md:flex md:items-center md:justify-end w-full sm:w-auto md:h-full md:w-1/2 xl:w-1/2 py-8 px-4 sm:p-12 md:p-16 sm:rounded-2xl md:rounded-none sm:shadow md:shadow-none sm:bg-card">
    <div class="w-full max-w-96 sm:w-96 mx-auto sm:mx-0">
      <!-- Title -->
      <p class="focus:outline-none !text-2xl font-extrabold leading-6 text-gray-800">Inscrivez votre entreprise</p>
      <p class="focus:outline-none !text-sm mt-4 !mb-12 font-medium leading-none text-gray-500">
        Vous avez déjà votre Espace ? <a [routerLink]="['/sign-in']"
                                         class="text-md font-bold text-primary hover:underline cursor-pointer">Identifiez-vous
      </a>
      </p>

      <!-- Sign Up form -->
      <form
        [formGroup]="signUpForm"
        autocomplete="off" class="mt-8">

        <mat-form-field class="w-full">
          <mat-label>Nom de votre entreprise</mat-label>
          <input formControlName="nom_societe" matInput placeholder="Quel est le nom de votre société?">
          <mat-hint align="start">Peut être le titre de votre page de réservation.</mat-hint>
          <mat-error *ngIf="signUpForm.get('nom_societe').hasError('required')">
            Veuillez entrer le nom de votre entreprise.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Veuillez choisir la catégorie de votre entreprise</mat-label>
          <mat-select formControlName="categories" multiple>
            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip (removed)="onCategorieRemoved(categorie)"
                          *ngFor="let categorie of signUpForm.get('categories').value" [removable]="true">
                  {{ categorie.categorie }}
                  <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>
            <mat-option *ngFor="let categorie of allCategories" [value]="categorie">{{categorie.categorie}}</mat-option>
          </mat-select>
          <mat-error *ngIf="signUpForm.get('categories').hasError('required')">
            Veuillez choisir au moins une catégorie. Si vous n'en trouvez aucune qui ne corresponde, veuillez
            sélectionner 'Autres'.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Adresse email</mat-label>
          <input
            [formControlName]="'email'"
            autocomplete="new-email" id="email" matInput
            placeholder="ex: societe@email.com">
          <mat-error *ngIf="signUpForm.get('email').hasError('required')">
            Veuillez entrer votre adresse email
          </mat-error>
          <mat-error *ngIf="signUpForm.get('email').hasError('email')">
            Veuillez entrer une adresse email valide.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Mot de passe</mat-label>
          <input
            [formControlName]="'password'"
            autocomplete="new-password" id="password" matInput
            placeholder="******">
          <mat-error *ngIf="signUpForm.get('password').hasError('required')">
            Veuillez entrer votre mot de passe.
          </mat-error>
        </mat-form-field>

        <mat-form-field class="w-full">
          <mat-label>Une brève description</mat-label>
          <textarea #description cdkTextareaAutosize formControlName="description" matInput
                    placeholder="Parlez de ce que vous faites, ce que vous vendez, etc."
                    rows="3"></textarea>
          <mat-hint align="start">Ecrivez une description jusqu'à 255 caractères.</mat-hint>
          <mat-hint align="end">{{description.value.length}} / 255</mat-hint>
          <mat-error *ngIf="signUpForm.get('description').hasError('maxLength')">
            Vous n'avez droit qu'à 255 caractères.
          </mat-error>
          <mat-error *ngIf="signUpForm.get('description').hasError('required')">
            Décrivez votre entreprise à vos clients, vous pourrez toujours modifier par la suite :)
          </mat-error>
        </mat-form-field>

        <button (click)="signUp()" [disabled]="signUpForm.disabled" class="fuse-mat-button-large w-full mt-6"
                color="primary" mat-flat-button>
          <span *ngIf="!signUpForm.disabled">
            Créez votre compte
          </span>
          <mat-progress-spinner *ngIf="signUpForm.disabled"
                                [diameter]="24"
                                [mode]="'indeterminate'"
                                class="mx-auto"></mat-progress-spinner>
        </button>
      </form>
    </div>
  </div>
  <div
    class="relative hidden md:flex flex-auto items-center justify-center w-1/2 xl:w-1/2 h-full p-16 lg:px-28 overflow-hidden bg-gray-800 dark:border-l">
    <div class="w-full mx-auto sm:mx-0">
      <div class="w-12 mb-4 mx-auto">
        <img alt="Simplybook" src="https://fakeimg.pl/350x200/ff0000/000">
      </div>
      <div class="max-w-md mx-auto">

      </div>
    </div>
  </div>
</div>
