<div class="w-full">

  <home-header></home-header>

  <div class="relative overflow-hidden">
    <div class="app-content flex flex-col lg:flex-row relative z-50">
      <div class="w-1/2 py-32">
        <h1 class="!text-4xl !font !font-bold tracking-tight text-gray-900 sm:text-6xl">Système de réservation en
          ligne
          pour <span class="text-blue-500">les sociétés de services</span></h1>
        <p class="mt-4 !text-base text-secondary">Il vous suffit de définir vos services et vos prestataires, d'afficher
          leur disponibilité, et vous aurez des clients, anciens et nouveaux, qui feront des réservations 24h/24,
          7j/7.</p>
        <div class="mt-12">
          <a class="mat-button-width" color="primary" href="#" mat-flat-button>
            <mat-icon>person</mat-icon>
            <span class="ml-3 font-bold">Obtenir un compte gratuit</span>
          </a>
        </div>
      </div>
    </div>
    <div class="absolute inset-0">
      <div class="w-1/2 h-full ml-auto">
        <div class="h-full w-full bg-no-repeat bg-contain bg-center"
             style='background-image: url("/assets/img/homepage-01.svg")'></div>
      </div>
    </div>
    <div class="shadow-box"></div>
  </div>

  <div class="app-content my-20">
    <h2 class="!text-3xl !font-bold text-center">Tous les outils pour faciliter <span class="text-primary">la gestion de votre agenda</span>
    </h2>
    <div class="my-12">
      <div class="flex items-center">
        <card class="card__hover m-2">
          <img alt="dashboard-gestion-cotisation-association-en-ligne" class="mx-auto mb-4"
               src="https://joinly.com/assets/image/homepage/Gerer.svg">
          <h3 class="!text-xl !font-bold">Gérer ses adhésions</h3>
          <p class="text-secondary">À la rentrée et tout au long de l’année, gérez vos adhésions en ligne. Créez et
            paramétrez vos formulaires
            d’inscription, personnalisez-les et proposez le paiement en ligne.
          </p>
          <mat-icon class="text-primary">arrow_forward</mat-icon>
        </card>

        <card class="card__hover m-2">
          <img alt="creation-boutique-en-ligne-personnalisee-solution" class="mx-auto mb-4"
               src="https://joinly.com/assets/image/homepage/Store.svg">
          <h3 class="!text-xl !font-bold">Créer sa boutique en ligne</h3>
          <p class="text-secondary">Proposez en quelques clics des articles à la vente, en créant votre propre boutique
            en ligne. Vous pouvez
            également les associer à vos adhésions, évènements ou campagnes de dons.
          </p>
          <mat-icon class="text-primary">arrow_forward</mat-icon>
        </card>

        <card class="card__hover m-2">
          <img alt="creation-boutique-en-ligne-personnalisee-solution" class="mx-auto mb-4"
               src="https://joinly.com/assets/image/homepage/Store.svg">
          <h3 class="!text-xl !font-bold">Créer sa boutique en ligne</h3>
          <p class="text-secondary">Proposez en quelques clics des articles à la vente, en créant votre propre boutique
            en ligne. Vous pouvez
            également les associer à vos adhésions, évènements ou campagnes de dons.
          </p>
          <mat-icon class="text-primary">arrow_forward</mat-icon>
        </card>
      </div>

      <div class="flex items-center">
        <card class="card__hover m-2">
          <img alt="dashboard-gestion-cotisation-association-en-ligne" class="mx-auto mb-4"
               src="https://joinly.com/assets/image/homepage/Gerer.svg">
          <h3 class="!text-xl !font-bold">Gérer ses adhésions</h3>
          <p class="text-secondary">À la rentrée et tout au long de l’année, gérez vos adhésions en ligne. Créez et
            paramétrez vos formulaires
            d’inscription, personnalisez-les et proposez le paiement en ligne.
          </p>
          <mat-icon class="text-primary">arrow_forward</mat-icon>
        </card>

        <card class="card__hover m-2">
          <img alt="creation-boutique-en-ligne-personnalisee-solution" class="mx-auto mb-4"
               src="https://joinly.com/assets/image/homepage/Store.svg">
          <h3 class="!text-xl !font-bold">Créer sa boutique en ligne</h3>
          <p class="text-secondary">Proposez en quelques clics des articles à la vente, en créant votre propre boutique
            en ligne. Vous pouvez
            également les associer à vos adhésions, évènements ou campagnes de dons.
          </p>
          <mat-icon class="text-primary">arrow_forward</mat-icon>
        </card>
      </div>
    </div>
    <div class="text-center">
      <a color="gray" mat-flat-button>Découvrir toutes les fonctionnalités</a>
    </div>
  </div>

  <!--  CTA -->
  <div class="app-content my-20">
    <h2 class="!text-3xl !font-bold text-center">
      Essayez le système de réservation <span class="text-primary">pour 14 jours</span>
    </h2>
    <p class="!text-base text-secondary text-center">Le plus de fonctionnalités incluses</p>
    <div class="my-12">
      <div class="flex items-center">
        <div class="w-1/2">
          <img class="h-96" src="/assets/img/test-14-jours.svg"/>
        </div>

        <div class="w-1/2">
          <ul class="mb-8">
            <li class="flex items-center gap-3 mb-2">
              <mat-icon class="text-primary">today</mat-icon>
              <span><b>50</b> réservations incluses pendant la période d'essai</span>
            </li>
            <li class="flex items-center gap-3 mb-2">
              <mat-icon class="text-primary">check</mat-icon>
              <span><b>La plupart</b> des fonctionnalités paramétrables incluses</span>
            </li>
            <li class="flex items-center gap-3">
              <mat-icon class="text-primary">computer</mat-icon>
              <span>Votre propre <b>site web de réservation</b></span>
            </li>
          </ul>
          <a color="primary" mat-flat-button>
            <mat-icon>send</mat-icon>
            <span class="ml-3 font-bold">Essayer maintenant</span>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!--  End CTA -->

  <home-footer></home-footer>
</div>
