<button
  [matMenuTriggerFor]="userActions">
    <span class="relative flex items-center gap-4">
      <mat-icon class="text-gray-700">account_circle</mat-icon>
      <span class="font-bold">{{user.name}}</span>
    </span>
</button>

<mat-menu
  #userActions="matMenu"
  [xPosition]="'before'">
  <div mat-menu-item>
    <span class="flex flex-col leading-none">
      <span>Vous êtes connecté avec : </span><span class="mt-1.5 !text-md !font-medium">{{user.email}}</span>
    </span>
  </div>
  <mat-divider class="my-2"></mat-divider>
<!--  <button mat-menu-item>-->
<!--    <mat-icon>account_circle</mat-icon>-->
<!--    <span>Mon Profil</span>-->
<!--  </button>-->
  <mat-divider class="my-2"></mat-divider>
  <button
    (click)="signOut()"
    mat-menu-item>
    <mat-icon>logout</mat-icon>
    <span>Se déconnecter</span>
  </button>
</mat-menu>
