.workspace {
  position: fixed;
  z-index: 998;
  left: 0;
  top: 0;
  width: 60px;
  height: 100%;
  background-color: #002838;
  //@apply bg-gray-600;
  padding: 22px 0;
  border-radius: 0 30px 0 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  &__logo {
    width: 40px !important;
    height: 64px !important;
  }

  &__list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    margin: 30px 0 0;
  }

  &__item {
    @apply cursor-pointer flex;
    width: 38px;
    height: 38px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: #fbfbfd;
    margin: 0 0 27px;
    padding: 10px;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    transition: all .2s cubic-bezier(.25, .46, .45, .94);

    &:before {
      width: 42px;
      height: 42px;
      content: "";
      position: absolute;
      top: -4px;
      left: -4px;
      border: 2px solid;
      @apply border-blue-500;
      border-radius: 13px;
      opacity: 0;
      transition: all .2s cubic-bezier(.25, .46, .45, .94);
    }

    &--active, &:not(.workspace__item--add) {
      width: 34px;
      height: 34px;
      margin-bottom: 31px;

      &:before {
        opacity: 1;
      }
    }

    &--add {
      border: 1px solid #ddd;
      background-color: transparent;
      transition: all 150ms cubic-bezier(.25, .46, .45, .94);
      @apply text-white;
    }
  }

  &__tooltip {
    @apply bg-blue-500;
    z-index: 999;
  }
}
