<div class="w-full h-full flex flex-col overflow-hidden">
  <div class="sticky inset-0 z-50 md:px-20 px-4 py-8 h-96 bg-gradient-to-b from-purple-600 to-indigo-700 ">
    <div class="flex items-center justify-between">
      <a [routerLink]="'/organismes/'+v1Data?.permalink+'/home'" class="flex items-center">
        <img *ngIf="v1Data?.design.logo_preference != 'name' && v1Data?.design.logo_url"
             [src]="getLogo()"
             alt="logo" class="cursor-pointer w-8 h-10 sm:w-auto"/>
        <p *ngIf="v1Data?.design.logo_preference != 'image' && v1Data?.nom"
           [ngClass]="{'!ml-2 !lg:ml-4':v1Data?.design.logo_preference == 'both'}"
           class="!mb-0 !text-base !lg:text-2xl font-bold text-white">
          {{v1Data?.nom}}
        </p>
      </a>
      <div class="hidden lg:flex items-center">
        <a [routerLink]="'/organismes/'+v1Data.permalink+'/booking'" color="primary" mat-flat-button>
          Réserver maintenant
        </a>
      </div>

    </div>

  </div>
  <div class="w-full flex items-center justify-center relative h-full -mt-56 z-50 w-10/12 mx-auto">
    <div
      class="flex flex-col overflow-hidden absolute inset-0 bg-white shadow rounded-container py-12 rounded-container bg-white shadow mb-12">
      <h1 class="md:!text-3xl !text-xl !font-bold !leading-7 text-center text-gray-700 lg:px-20 px-8">
        <ng-content select="[header]"></ng-content>
      </h1>
      <div class="lg:px-20 px-8 v1-container">
        <ng-content select="[body]"></ng-content>
      </div>
    </div>
  </div>
</div>
