<div
  [class.navigation-item-has-subtitle]="!!item.subtitle"
  [ngClass]="item.classes?.wrapper"
  class="flex items-center w-full px-3 py-0.5 text-white cursor-pointer">

  <div
    (click)="toggleCollapsable()"
    [ngClass]="{'navigation-item-disabled': item.disabled}"
    class="navigation-item">

    <ng-container *ngIf="item.icon">
      <mat-icon
        [ngClass]="item.classes?.icon"
        class="navigation-item-icon">{{item.icon}}</mat-icon>
    </ng-container>

    <div class="navigation-item-title-wrapper">
      <div [ngClass]="item.classes?.title" class="item-title">
        {{item.title}}
      </div>
      <ng-container *ngIf="item.subtitle">
        <div [ngClass]="item.classes?.subtitle" class="item-subtitle">
          {{item.subtitle}}
        </div>
      </ng-container>
    </div>

    <!-- Arrow -->
    <mat-icon class="navigation-item-arrow icon-size-4">
      chevron-right
    </mat-icon>
  </div>
</div>

<div
  *ngIf="!isCollapsed"
  @expandCollapse
  class="navigation-item-children">

  <ng-container *ngFor="let item of item.children; trackBy: trackByFn">

    <ng-container *ngIf="!item.hidden">

      <!-- Basic -->
      <navigation-basic
        *ngIf="item.type === 'basic'"
        [item]="item"
        [name]="name"></navigation-basic>

      <!-- Collapsable -->
      <navigation-collapsable
        *ngIf="item.type === 'collapsable'"
        [item]="item"
        [name]="name"></navigation-collapsable>

<!--      &lt;!&ndash; Group &ndash;&gt;-->
<!--      <fuse-vertical-navigation-group-item-->
<!--        *ngIf="item.type === 'group'"-->
<!--        [item]="item"-->
<!--        [name]="name"></fuse-vertical-navigation-group-item>-->

<!--      &lt;!&ndash; Spacer &ndash;&gt;-->
<!--      <fuse-vertical-navigation-spacer-item-->
<!--        *ngIf="item.type === 'spacer'"-->
<!--        [item]="item"-->
<!--        [name]="name"></fuse-vertical-navigation-spacer-item>-->

    </ng-container>

  </ng-container>

</div>
