<div
  [class.navigation-item-has-subtitle]="!!item.subtitle"
  [ngClass]="item.classes?.wrapper"
  class="flex items-center w-full px-3 py-0.5 text-gray-300 cursor-pointer">

  <div
    (click)="toggleCollapsable()"
    [ngClass]="{'navigation-item-disabled': item.disabled}"
    class="flex items-center gap-3 w-full p-3 rounded-menu hover:text-white hover:bg-white hover:bg-opacity-12">

    <ng-container *ngIf="item.icon">
      <mat-icon
        [ngClass]="item.classes?.icon"
        class="navigation-item-icon">{{item.icon}}</mat-icon>
    </ng-container>

    <div class="navigation-item-title-wrapper">
      <div [ngClass]="item.classes?.title" class="item-title text-sm font-bold">
        {{item.title}}
      </div>
      <ng-container *ngIf="item.subtitle">
        <div [ngClass]="item.classes?.subtitle" class="text-xs">
          {{item.subtitle}}
        </div>
      </ng-container>
    </div>

    <!-- Arrow -->
    <mat-icon class="navigation-item-arrow icon-size-4">
      chevron_right
    </mat-icon>
  </div>
</div>

<div
  *ngIf="!isCollapsed"
  @expandCollapse
  class="navigation-item-children overflow-hidden">

  <ng-container *ngFor="let item of item.children; trackBy: trackByFn">

    <ng-container *ngIf="!item.hidden">

      <navigation-basic
        *ngIf="item.type === 'basic'"
        [item]="item"
        [name]="name"
      ></navigation-basic>

      <navigation-collapsable
        *ngIf="item.type === 'collapsable'"
        [item]="item"
        [name]="name"></navigation-collapsable>

    </ng-container>

  </ng-container>

</div>
