
<organisme-v2>
  <div class="text-color w-full md:w-1/3 pt-16 lg:pt-32 xl:pt-12" left>
    <h1 class="!text-4xl md:!text-4xl lg:!text-6xl w-11/12 lg:w-11/12 xl:w-full text-gray-900 !font-bold f-f-l">
      {{data.nom}}
    </h1>
    <div class="!text-base lg:!text-base pb-20 sm:pb-0 pt-10 xl:pt-6 mb-4">
      {{data.descr}}
    </div>
    <div class="lg:flex">
      <button color="primary" mat-flat-button>
        Réserver maintenant
      </button>
    </div>
  </div>
  <ng-container right>
    <div class="w-2/3 rounded-container w-full bg-white shadow my-12">
      <div class="flex h-full overflow-hidden">
        <p>a</p>
<!--        <mat-card class="w-7/12 demo-inline-calendar-card">-->
<!--          <mat-calendar [(selected)]="selected" [minDate]="minDate"></mat-calendar>-->
<!--        </mat-card>-->
<!--        <booking-creneaux [day]="selected" class="w-5/12 relative"></booking-creneaux>-->
      </div>
    </div>
  </ng-container>
</organisme-v2>
