<organisme-v1>
  <ng-container header>
    <div class="w-11/12 sm:w-2/3 mb-5 sm:mb-10">
      <h1
        class="!text-2xl !sm:text-3xl !md:text-4xl !lg:text-5xl !xl:text-6xl text-center text-white !font-bold leading-tight">{{data?.nom}}</h1>
    </div>
    <div class="flex justify-center items-center mb-10 sm:mb-20 gap-4">
      <a class="mat-button-width" [routerLink]="'/organismes/'+permalink+'/booking'" color="default" mat-flat-button>
        Réserver
      </a>
      <button class="mat-button-border mat-button-border--white mat-button-text--white"
              mat-flat-button>
        Afficher sur la carte
      </button>
    </div>
  </ng-container>
  <ng-container body>
    <div class="flex flex-wrap">
      <div class="w-full">
        <p>centrer</p>
      </div>
    </div>
  </ng-container>
</organisme-v1>
