<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
  <div class="hidden md:block absolute inset-0">
    <div class="bg-blue-500 w-1/2 ml-auto h-full"></div>
  </div>

  <nav class="relative z-10 sticky w-full">
    <div
      class="relative z-10 mx-auto container hidden w-full px-4 xl:px-0 lg:flex justify-between items-center py-11">
      <a [routerLink]="'/organismes/'+v2Data?.permalink+'/home'" class="flex items-center">
        <img *ngIf="v2Data?.design.logo_preference != 'name' && v2Data?.design.logo_url"
             [src]="getLogo()"
             alt="logo" class="cursor-pointer w-8 h-10 sm:w-auto"/>
        <p *ngIf="v2Data?.design.logo_preference != 'image' && v2Data?.nom"
           [ngClass]="{'!ml-2 !lg:ml-4':v2Data?.design.logo_preference == 'both'}"
           class="!mb-0 !text-base !lg:text-2xl font-bold text-gray-800">
          {{v2Data?.nom}}
        </p>
      </a>
      <div class="flex items-center text-white text-base font-medium">
        <ul class="flex items-center pr-3 xl:pr-12">
          <li class="cursor-pointer hover:text-gray-300 ease-in">
            <a class="focus:outline-none focus:ring-2 focus:ring-white" href="javascript:void(0)">Home</a>
          </li>
          <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
            <a class="focus:outline-none focus:ring-2 focus:ring-white" href="javascript:void(0)">About Us</a>
          </li>
          <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
            <a class="focus:outline-none focus:ring-2 focus:ring-white" href="javascript:void(0)">Pricing</a>
          </li>
          <li class="pl-3 lg:pl-5 xl:pl-8 cursor-pointer hover:text-gray-300 ease-in">
            <a class="focus:outline-none focus:ring-2 focus:ring-white" href="javascript:void(0)">Resources</a>
          </li>
        </ul>
        <button
          class="px-6 py-3 bg-indigo-400 hover:bg-indigo-500 text-white text-base font-medium rounded-lg flex items-center justify-center focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-700">
          Sign In
          <img alt="arrow"
               class="ml-4"
               src="https://tuk-cdn.s3.amazonaws.com/can-uploader/large_typography_with_gradient_and_glass_effect_Svg5.svg"/>
        </button>
      </div>
    </div>
  </nav>

  <div
    class="bg-transparent flex-1 flex justify-between overflow-auto relative w-full container mx-auto px-4 xl:px-0 gap-8 py-8">
    <ng-content select="[left]"></ng-content>
    <ng-content select="[right]"></ng-content>
  </div>
</div>
