<form *ngIf="loaded; else loading" [formGroup]="planningForm" class="form-planning-hebdo flex flex-col gap-4">
  <div class="flex justify-between" formGroupName="monday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('monday')" formControlName="isActive">
          <span class="font-bold text-lg">Lundi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('monday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('monday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('monday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('monday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('monday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('monday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('monday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('monday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="tuesday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('tuesday')" formControlName="isActive">
          <span class="font-bold text-lg">Mardi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('tuesday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('tuesday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('tuesday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('tuesday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('tuesday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('tuesday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('tuesday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('tuesday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="wednesday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('wednesday')" formControlName="isActive">
          <span class="font-bold text-lg">Mercredi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('wednesday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('wednesday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('wednesday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('wednesday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('wednesday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('wednesday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('wednesday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('wednesday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="thursday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('thursday')" formControlName="isActive">
          <span class="font-bold text-lg">Jeudi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('thursday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('thursday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('thursday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('thursday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('thursday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('thursday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('thursday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('thursday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="friday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('friday')" formControlName="isActive">
          <span class="font-bold text-lg">Vendredi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('friday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('friday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('friday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('friday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('friday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('friday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('friday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('friday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="saturday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('saturday')" formControlName="isActive">
          <span class="font-bold text-lg">Samedi</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('saturday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('saturday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('saturday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('saturday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('saturday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('saturday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('saturday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('saturday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="flex justify-between" formGroupName="sunday">
    <div class="flex gap-4">
      <div class="max-w-36 w-36 overflow-hidden">
        <mat-slide-toggle (change)="toggleIsActive('sunday')" formControlName="isActive">
          <span class="font-bold text-lg">Dimanche</span>
        </mat-slide-toggle>
      </div>
      <div *ngIf="planningForm.get('sunday').get('isActive').value; else indisponible" formArrayName="intervals">
        <div *ngFor="let dayForm of intervals('sunday').controls; let index = index">
          <div [formGroupName]="index" class="flex gap-4">
            <div class="flex items-center gap-4">
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('sunday', index)" formControlName="hourFrom" matInput
                       type="time"/>
              </mat-form-field>
              <div class="mb-6">-</div>
              <mat-form-field>
                <input (blur)="controlChangesCreneaux('sunday', index)" formControlName="hourTo" matInput
                       type="time"/>
              </mat-form-field>
            </div>
            <button (click)="removeInterval('sunday',index)" mat-icon-button>
              <mat-icon>delete</mat-icon>
            </button>
          </div>
          <div *ngIf="intervals('sunday').controls[index].hasError('inferieur')" class="mb-2 text-red-500 text-xs">
            Sélectionnez une heure de fin plus tardive que l'heure de début.
          </div>
          <div *ngIf="intervals('sunday').controls[index].hasError('conflit')" class="mb-2 text-red-500 text-xs">
            Les heures se chevauchent avec une autre période.
          </div>
        </div>
      </div>
    </div>
    <div>
      <button (click)="addInterval('sunday')" mat-icon-button>
        <mat-icon>add</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>content_copy</mat-icon>
      </button>
    </div>
  </div>

  <div class="w-full text-right mt-4">
    <button (click)="savePlanningHebdo()" [disabled]="saving" color="primary" mat-raised-button type="submit">
      <mat-icon>save</mat-icon>
      <span class="ml-2">Enregistrer</span>
    </button>
  </div>
</form>

<ng-template #indisponible>
  <div class="mb-6">
    Indisponible
  </div>
</ng-template>

<ng-template #loading>
  <loading></loading>
</ng-template>
