<div class="relative bg-white">
  <div class="max-w-7xl mx-auto px-4 sm:px-6">
    <div class="flex justify-between items-center border-b-2 border-gray-100 py-2 md:justify-start md:space-x-10">
      <div class="flex justify-start lg:w-0 lg:flex-1">
        <a [routerLink]="'/'">
          <span class="sr-only">Workflow</span>
<!--          <img alt="" class="h-8 w-auto sm:h-10" src="https://tailwindui.com/img/logos/workflow-mark-indigo-600.svg">-->
          <img alt="" class="h-12 w-auto sm:h-16" src="/assets/img/logo-large.svg">
        </a>
      </div>
      <div class="-mr-2 -my-2 md:hidden">
        <button aria-expanded="false"
                class="bg-white rounded-md p-2 inline-flex items-center justify-center text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-indigo-500"
                type="button">
          <span class="sr-only">Open menu</span>
          <svg aria-hidden="true" class="h-6 w-6" fill="none" stroke="currentColor" viewBox="0 0 24 24"
               xmlns="http://www.w3.org/2000/svg">
            <path d="M4 6h16M4 12h16M4 18h16" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
          </svg>
        </button>
      </div>
      <nav class="hidden md:flex space-x-10">
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" href="#"> Pricing </a>
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" href="#"> Docs </a>
        <a class="text-base font-medium text-gray-500 hover:text-gray-900" href="#"> Docs </a>
      </nav>
      <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0 md:gap-2">
        <a [routerLink]="'/sign-in'" class="mat-button-width mat-button-mini" mat-flat-button>Sign in</a>
        <a [routerLink]="'/sign-up'" class="mat-button-width mat-button-mini" color="primary" mat-flat-button>Sign up</a>
      </div>
    </div>
  </div>
</div>
