<div class="px-4 pt-12 pb-6">
  <div class="pb-4">
    <p class="text-center font-bold text-lg">{{day|date:'fullDate'}}</p>
  </div>
  <div class="flex flex-col gap-y-4">
    <div *ngFor="let hour of hours; let i=index;" [ngClass]="{'gap-4':selectedHour==hour}" class="flex">
      <button (click)="selectHour(hour)"
              [ngClass]="selectedHour==hour?'mat-button--gray w-1/2':'w-full mat-button-border--primary'"
              class="mat-button-border w-full text-base transition-all duration-300 mat-button-mini"
              mat-flat-button>
        {{hour}}
      </button>
      <button (click)="confirmRDV()" [ngClass]="selectedHour==hour?'w-1/2':'w-0'"
              class="!min-w-0 !overflow-hidden mat-button-mini transition-all text-base duration-300" color="primary"
              mat-flat-button>
        Confirmer
      </button>
    </div>
  </div>
</div>
