<!--<nav class="flex justify-around py-4 bg-white/80-->
<!--            backdrop-blur-md shadow-md w-full-->
<!--            fixed top-0 left-0 right-0 z-10">-->

<!--  &lt;!&ndash; Logo Container &ndash;&gt;-->
<!--  <div class="flex items-center">-->
<!--    &lt;!&ndash; Logo &ndash;&gt;-->
<!--    <a class="cursor-pointer">-->
<!--      <h3 class="text-2xl font-medium text-blue-500">-->
<!--        <img alt="Store Logo"-->
<!--             class="h-10 object-cover" src="https://stackoverflow.design/assets/img/logos/so/logo-stackoverflow.svg">-->
<!--      </h3>-->
<!--    </a>-->
<!--  </div>-->

<!--  &lt;!&ndash; Links Section &ndash;&gt;-->
<!--  <div class="items-center hidden space-x-8 lg:flex">-->
<!--    <a class="flex text-gray-600 hover:text-blue-500 cursor-pointer transition-colors duration-300">Home</a>-->
<!--    <a class="flex text-gray-600 cursor-pointer transition-colors duration-300 font-semibold text-blue-600">Themes</a>-->
<!--    <a class="flex text-gray-600 hover:text-blue-500 cursor-pointer transition-colors duration-300">Developers</a>-->
<!--  </div>-->

<!--  <div class="flex items-center space-x-5">-->
<!--    <button mat-flat-button>-->
<!--      <mat-icon>today</mat-icon>-->
<!--      <span class="ml-3 font-bold">Réserver</span>-->
<!--    </button>-->
<!--  </div>-->
<!--</nav>-->
