<form *ngIf="societeFormContainer" [formGroup]="societeFormContainer"
      class="flex flex-row flex-wrap bg-white rounded-container p-4">
  <div class="flex flex-wrap w-full justify-center">
    <structure-infos-form [societe]="societe" (isLoaded)="handleLoading($event)"></structure-infos-form>
  </div>

  <div class="w-full text-right" *ngIf="loaded">
    <button (click)="updateStructure()" [disabled]="saving" color="primary" mat-flat-button
            type="submit">
     <span class="flex items-center">
      <mat-progress-spinner *ngIf="saving; else showIcon" [diameter]="24" [mode]="'indeterminate'"
                            class="!flex"></mat-progress-spinner>
      <ng-template #showIcon>
        <mat-icon>save</mat-icon>
      </ng-template>
      <span class="ml-2">Enregistrer</span>
       </span>
    </button>
  </div>
</form>
