<div *ngIf="loaded; else loading" class="form-planning-special flex flex-col gap-4">

  <div class="w-full text-right mb-4">
    <button (click)="addPlanningSpecial()" [disabled]="saving" color="primary" mat-flat-button type="submit">
     <span class="flex items-center">
       <mat-icon>add</mat-icon>
       <span class="ml-2">Ajouter une superposition de date</span>
     </span>
    </button>
  </div>

  <div class="w-full">
    <div *ngFor="let plan of planning; let index=index" [ngClass]="{'border-t':index==0}"
         class="flex justify-between items-center gap-4 py-2 border-b">
      <div class="flex-1 flex justify-between items-center">
        <span>{{plan.date | date:'d MMM y'}}</span>
        <div>
          <ng-container *ngIf="plan.intervals.length > 0; else intervalsVide">
            <span *ngFor="let interval of plan.intervals" class="block">{{interval.from}} - {{interval.to}}</span>
          </ng-container>
          <ng-template #intervalsVide>
            <span>Indisponible</span>
          </ng-template>
        </div>
      </div>
      <div class="flex-grow-0">
        <button (click)="removePlanningSpecial(plan)" mat-icon-button>
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

</div>

<ng-template #loading>
  <loading></loading>
</ng-template>
