@import "./components/button";
@import "./components/input";
@import "./components/snackbar";
@import "./components/spinner";
@import "./components/table";
@import "./components/tabs";
@import "./components/tooltip";
@import "./components/slider";
@import "./components/dialog";
@import "./components/datetimepicker";

@import "./components/all";
