<form [formGroup]="formSpecial">
  <div class="items-center justify-between" mat-dialog-title>
    <span>{{title}}</span>
    <button (click)="closeDialog()" mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div mat-dialog-content>
    <mat-form-field class="w-full">
      <mat-label>Type de la journée spéciale</mat-label>
      <mat-select formControlName="type" placeholder="Type de la journée spéciale">
        <mat-option disabled selected>--</mat-option>
        <mat-option *ngFor="let type of types" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formSpecial.get('type').hasError('required')">
        Veuillez sélectionner le type de votre journée spéciale.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <input [ngxMatDatetimePicker]="picker1" formControlName="dateFrom"
             matInput placeholder="Date de début">
      <mat-datepicker-toggle [for]="$any(picker1)" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker1></ngx-mat-datetime-picker>
      <mat-error *ngIf="formSpecial.get('dateFrom').hasError('required')">
        Veuillez sélectionner la date de début de votre journée spéciale.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <input [ngxMatDatetimePicker]="picker2" formControlName="dateTo"
             matInput placeholder="Date de fin">
      <mat-datepicker-toggle [for]="$any(picker2)" matSuffix></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker2></ngx-mat-datetime-picker>
      <mat-error *ngIf="formSpecial.get('dateTo').hasError('required')">
        Veuillez sélectionner la date de fin de votre journée spéciale.
      </mat-error>
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Statut</mat-label>
      <mat-select formControlName="statut" placeholder="Statut de la journée spéciale">
        <mat-option disabled selected>--</mat-option>
        <mat-option *ngFor="let type of statuts" [value]="type.value">
          {{type.viewValue}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formSpecial.get('statut').hasError('required')">
        Veuillez sélectionner le statut de votre journée spéciale.
      </mat-error>
    </mat-form-field>
  </div>

  <div class="flex items-center justify-end" mat-dialog-actions>
    <button (click)="saveSpecialDay()" [disabled]="formSpecial.disabled" mat-flat-button>
      Enregistrer
    </button>
  </div>

</form>
